{% extends "base.html" %}

{% block title %}

Profile details

{% endblock title %}


{% block content %}

<div class="d-flex justify-content-center mt-5">
<div class="card" style="width: 18rem;">
  <div class="d-flex justify-content-end">
                
     <form action="{% url 'follow_user' user.id %}" method="POST">
          {% csrf_token %}
          <button {% if user.is_followed %}
          class='btn btn-primary m-2' type='submit'
          {% else %}
          class='btn btn-outline-primary m-2' type='submit'
          {% endif %}>
          follow
        </button>

        {{user.follow.count}}
        
      </form>
      <p class="mt-3">{{tweet.follow.count}}</p>
      </div> 
      

    <img src="{{profile.profile_picture.url}}" class="card-img-top rounded-circle p-4" alt="...">
    <div class="card-body">
      {% comment %} <h5 class="card-title"></h5> {% endcomment %}
      
      <strong>{{user.username}}</strong>
      
      <p class="card-text">{{profile.bio}}</p>
    
      <p class="card-text">Total tweets: {{tweet_count}}</p>
      <a href="{% url 'tweet_list' %}" class="btn btn-primary">Back to tweets</a>
    </div>
  </div>
</div>
{% endblock  %}


