{% extends "base.html" %}

{% block title %}
 Tweet app

{% endblock %}

{% block content %}
 {% comment %}  <p class="text-center mt-5">It is a tweet app.</p> {% endcomment %}
<form method="GET" class="m-4">
    <input type="text"
    name="q"
    placeholder="Search for tweets"
    value="{{ query }}"
    
    >

    <button class="btn btn-primary" type="submit">Search</button>
</form>

 <a class='btn btn-primary m-4' href="{% url 'tweet_create' %}">Create a tweet</a>
 <div class='container row gap-3'>
    {% if tweets %}
    {% for tweet in tweets %}
        <div class="card" style="width: 18rem;">
        {% if tweet.image %}
        <img src="{{tweet.image.url}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            {% comment %} <h5 class="card-title">{{tweet.user.username}}</h5> {% endcomment %}
            {% comment %} <button>@{{tweet.user.username}}</button> {% endcomment %}
            
            <a href="{% url 'profile_view' tweet.user.username %}">@{{tweet.user.username}}</a>


            <p class="card-text"></p>
            {% if tweet.user == user %}
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary ">Edit tweet</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete tweet</a>
            
            {% endif %}
            
        </div>
         <form action="{% url 'comments_view' tweet.id %}">
            {% csrf_token %}
            <button type="submit">💬</button>
         </form>
        </div>
    
    {% endfor %}
     {% else %}
 <h1>No tweets found.</h1>
 {% endif %}
 {% comment %} </div>
 <div>
    {% if comments %}
        <p>{{comments.text}}</p>

    {% else %}
    
        <p>No comments found.</p>
    {% endif %}
 </div> {% endcomment %}

{% endblock %}  