{% extends "base.html" %}

{% block title %}
 Tweet app

{% endblock %}

{% block content %}
 {% comment %}  <p class="text-center mt-5">It is a tweet app.</p> {% endcomment %}
<form method="GET" class="m-4">
    <input type="text"
    name="q"
    placeholder="Search for tweets"
    value="{{ query }}"
    
    >

    <button class="btn btn-primary" type="submit">Search</button>
</form>

 <a class='btn btn-primary m-4' href="{% url 'tweet_create' %}">Create a tweet</a>
 <div class='container row gap-3' >
    {% if tweets %}
    {% for tweet in tweets %}
    
        <div class="card" style="width: 25rem;">
        {% if tweet.image %}
        <a class='m-3' href="{% url 'profile_view' tweet.user.username %}">👤{{tweet.user.username}}</a>
        <p>{{tweet.text}}</p>
        <img src="{{tweet.image.url}}" class="card-img-top" alt="...">
        {% endif %}
        <div class="card-body">
            {% comment %} <h5 class="card-title">{{tweet.user.username}}</h5> {% endcomment %}
            {% comment %} <button>@{{tweet.user.username}}</button> {% endcomment %}
            
            


            <p class="card-text"></p>
            {% if tweet.user == user %}
            <a style="width: 10rem;" href="{% url 'tweet_edit' tweet.id %}" class="btn btn-primary ">Edit tweet</a>
            <a style="width: 10rem;" href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger">Delete tweet</a>
            
            {% endif %}
            
        </div>
        <div class="d-flex gap-2 align-items-center">
         <form action="{% url 'comments_view' tweet.id %}">
            {% csrf_token %}
            <button class="btn btn-outline-primary" type="submit">💬</button>
         </form>
         {{tweet.comments.count}}
          <form action="{% url 'like_view' tweet.id %}" method="POST">
            {% csrf_token %} 
        <button 
         {%if tweet.is_liked %}
            class="btn btn-danger"
         {% else %}
            class="btn btn-outline-danger"
        {% endif %}
        type="submit">❤️</button>
         </form>
            {{tweet.likes.count}}
        
                <button class="btn btn-primary" onclick="copyTweetLink('{% url 'tweet_detail' tweet.id  %}')">↗</button>
                <script>
                     function copyTweetLink(url){
                        const fullURL= window.location.origin + url;
                        navigator.clipboard.writeText(fullURL)
                        alert("Tweet link copied!")

                    }
                </script>
         
        </div>
        </div>
    
    {% endfor %}
     {% else %}
 <h1>No tweets found.</h1>
 {% endif %}
 </div>


{% endblock %}  